doctype html
html
  head
    title PetShop Huellitas Felices
  body
    h1 Bienvenidos al PetShop Huellitas Felices
    p PRÓXIMAMENTE
    p ... Sitio en construcción ... PRÓXIMAMENTE
    a(href="/login") Ir a Login